CONFIG_BLACKFIN=y
CONFIG_TARGET_BLACKSTAMP=y
# CONFIG_CMD_IMLS is not set
# CONFIG_CMD_FLASH is not set
# CONFIG_CMD_SETEXPR is not set
CONFIG_MTD_SPI_NOR=y
CONFIG_MTD_M25P80=y
CONFIG_SPI_NOR_STMICRO=y
