CONFIG_ARM=y
CONFIG_TARGET_CM_T43=y
CONFIG_DM_GPIO=y
CONFIG_SPL=y
CONFIG_SYS_PROMPT="CM-T43 # "
# CONFIG_CMD_FLASH is not set
CONFIG_CMD_SF=y
CONFIG_CMD_USB=y
# CONFIG_CMD_FPGA is not set
CONFIG_CMD_GPIO=y
# CONFIG_CMD_NFS is not set
CONFIG_DM=y
CONFIG_SYS_NS16550=y
CONFIG_OF_LIBFDT=y
CONFIG_DM_SERIAL=y
CONFIG_MTD_SPI_NOR=y
CONFIG_MTD_M25P80=y
CONFIG_SPI_NOR_BAR=y
CONFIG_SPI_NOR_MISC=y
CONFIG_SPI_NOR_WINBOND=y
CONFIG_SPI_NOR_SST=y
CONFIG_SPI_NOR_STMICRO=y
CONFIG_SPI_NOR_SPANSION=y
CONFIG_SPI_NOR_MACRONIX=y
